<section class="containerSection">
  <div class="messageWelcome">
    <div class="status">
      <div class="square"></div>
      <p>LEGO BULLS</p>
    </div>
    <h2>Inscrições Abertas - FLL</h2>
    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
    <button class="moreInformation">
      Saiba mais
    </button>
  </div>
  <div class="imgWelcome">
    <img src="../../../../assets/astronaut.png" alt="Astrounauta" width="300px" height="510px">
  </div>
</section>
