<section class="containerProjects">
  <div class="container">
    <div class="topic">
      <img src="../../../../assets/navigation-outline.png" alt="tópico">
      <p>PROJETOS</p>
    </div>
    <div class="informationProject">
      <div class="title">
        <h2>InclusiveX</h2>
        <div class="season">
          <div class="square"></div>
          <p>RePLAY - 2020/2021</p>
        </div>
      </div>
      <div class="description">
        <button class="navigation-left">
          <img src="../../../../assets/arrow-left.png" alt="mover pra esquerda" width="60px" height="60px">
        </button>
        <div class="paragraphs">
          <p>
            No ano de 2020 foi anunciada a temporada 2020/2021 RePLAY, onde convidava os alunos e competidores a serem imersos num tema centrado nas atividades físicas.  
          </p>
          <p>
            Nessa ultima temporada, a Lego Bulls após diversas pesquisas e muito trabalho, encontraram uma problemática. A falta de incentivo aos deficientes físicos.
          </p>
          <p>
            Vendo a existência dessa dificuldade, a equipe realiza uma série de pesquisas para a criação do InclusiveX, app que traz a estimulação à parcela que mais sofre de sedentarismono mundo, os deficientes. 
          </p>
          <p>
            O InclusiveX traz consigo diversas funcionalidades, como o acompanhamento do sono do usuário, instruções de como se exercitar, e como controlar sua alimentação.  
          </p>
        </div>
        <img class="device" src="../../../../assets/device.png" alt="protótipo do projeto" width="300px" height="500px">
        <button class="navigation-right">
          <img src="../../../../assets/arrow-right.png" alt="mover pra direita" width="60px" height="60px">
        </button>
      </div>
    </div>
  </div>
  <div class="navigation-low">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
</section>
