.containerFooter {
  margin-top: 9rem;
  position: relative;
  bottom: 0;
  width: 100%;
  // height: 18.75rem;
  background-color: #3c3d41;
  display: flex;
  flex-direction: row;
  justify-content: center;

  .bulls {
    .smallVerticalLine {
      position: relative;
      top: 2.5rem;
      left: 5rem;
      height: 2.5rem;
      border-left: 2px solid #fff;
    }

    .logo {
      position: relative;
      top: 3.75rem;
      left: 4.688rem;
    }

    .largerVerticalLine {
      position: relative;
      top: 4.688rem;
      left: 5rem;
      height: 6.25rem;
      border-left: 2px solid #fff;
    }
  }
  .navigation {
    display: flex;
    // padding-left: 12.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.375rem;
    // margin-left: 2.5rem;
    align-items: center;

    ul {
      margin: 2.5rem;
      color: #fff;
      font-family: "Inter", sans-serif;
      font-weight: 700;

      p {
        font-size: 1.25rem;
        margin-bottom: 0.375rem;
      }

      li {
        margin-bottom: 0.375rem;
        font-weight: 300;
      }
    }
    .socialMedia {
      display: flex;
      flex-direction: column;
      button {
        margin-bottom: 0.625rem;
        color: #f7f7fc;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        width: 10rem;
        height: 2.813rem;
        border-radius: 1.563rem;
      }
      .instagram {
        background-color: #c83b91;
      }
      .github {
        background-color: #252020;
      }
    }
  }
}
