<footer class="containerFooter">
  <!-- <div class="bulls">
    <div class="smallVerticalLine"></div>
    <img class="logo" src="../../../assets/logo-footer.png" alt="logo da equipe" width="103px" height="36px">
    <div class="largerVerticalLine"></div>
  </div> -->
  <div class="navigation">
    <ul>
      <p>Início</p>
      <li><a href="#">First Lego League</a></li>
      <li><a href="#">F1 in schools</a></li>
      <li><a href="#">Olímpiada de Robótica</a></li>
    </ul>
    <ul>
      <p>Sobre nós</p>
      <li><a href="#">Informações</a></li>
      <li><a href="#">Contato</a></li>
      <li><a href="#">E-mail</a></li>
    </ul>
    <ul>
      <p>Desenvolvedores</p>
      <li><a href="#">Matheus Rian</a></li>
      <li><a href="#">Jorge Freitas</a></li>
      <li><a href="#">Eu</a></li>
    </ul>
    <div class="socialMedia">
      <button class="instagram">INSTAGRAM</button>
      <button class="github">GITHUB</button>
    </div>
  </div>
</footer>
